h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #ffc87f;
}
h4 {
    text-align: center;
    color: #ffc87f;
}
.lsd-project__wrapper {
    width: auto;
    /* display: inline-block; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    margin: 0;
    padding: 4px;
}
.project__wrapper > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
.project__wrapper::before {
    width: 0;
    content: '';
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.lsd-project__wrapper li {
    /* width: 136px;
    height: 136px; */
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    color: #ffc87f;
    margin: 8px;
    transition: all 0.2s ease;
    cursor: pointer;
    border-radius: 8px;
}
.lsd-project__wrapper li:hover {
    opacity: 0.85;
    transition: all 0.2s ease;
}
.lsd-project__wrapper li * {
    pointer-events: none;
}
@media (min-width: 40em) {
    /* .lsd-project__wrapper li {
        width: 164px;
        height: 164px;
    } */
}
@media (min-width: 60em) {
    /* .lsd-project__wrapper li {
        width: 208px;
        height: 208px;
    } */
}
